body {
width: 380px;
margin: 0;
padding: 0 10px;
font-size: 16px;
line-height: 20px;
font-family: “Arial”, sans-serif;
}

h1 {
line-height: normal;
font-size: 20px;
text-align: center;
}
.highlight {
padding: 10px;
background-color: #FF4500;
color: white;
font-weight: bold;
}

.italic {
font-style: italic;

}

.uppercase {
text-transform: uppercase;
}

.underline {
text-decoration: underline;
}

.tratata-class {
background-color: #0074FF;	
	color: white;
}